* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
}

.circulo {
  width: 730px; 
  height: 700px; 
  background: #017143; 
  border-radius: 60%; 
  position: fixed; 
  bottom: -100px; 
  right: -160px; 
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; 
}

.logo {
  width: 80px; 
}

.conteudo {
  display: flex;
  justify-content: space-between; 
  margin-top: 20px; 
}

.caixa_texto {
  width: 550px;
}

h1 {
  color: #333333; 
  font-size: 60px; 
  font-weight: 600; 
}

p {
  font-size: 15px; /* Tamanho do texto */
}
span {
  color: #017143; /* Cor do texto do span */
  font-size: 70px; /* Tamanho da fonte do span */
  font-weight: 900; /* Peso da fonte do span */
}

button {
  background-color: #017143; /* Cor de fundo do botão */
  color: #ffffff; /* Cor do texto do botão */
  border-radius: 40px; /* Arredondamento das bordas do botão */
  padding: 10px; /* Espaçamento interno do botão */
  border: none; /* Remove a borda do botão */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  margin-top: 30px; /* Margem superior do botão */
}

button:hover {
  background-color: #008a51; /* Cor do botão ao passar o mouse */
}

.caixa_imagem {
  width: 600px; /* Largura da caixa de imagem */
  display: flex;
  justify-content: flex-end; /* Alinha a imagem à direita */
}

.Starbucks {
  width: 400px; /* Ajuste o tamanho da imagem Starbucks se necessário */
  position: fixed;
  right: 55px;
  margin-top: 60px; /* Espaço entre o conteúdo e o menu */
}

.menu {
  display: flex; /* Para alinhar os botões do menu */
  justify-content: center; /* Centraliza os botões do menu */
  margin-top: 65px; /* Espaço entre o conteúdo e o menu */
  position: fixed;
  right: 750px;
}

.botaomenu {
  width: 80px; /* Largura dos botões do menu */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  margin: 10px; /* Margem entre os botões do menu */
  transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
}

.botaomenu:hover {
  transform: translateY(-6px); /* Move o botão para cima ao passar o mouse */
}

/* Estilo para a imagem dentro do círculo */
.imagem-circulo {
  width: 100%; /* A imagem ocupa 100% do círculo */
  height: auto; /* Mantém a proporção da imagem */
  object-fit: cover; /* Cobre o círculo evitando distorção */
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  body {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 100x;
    position: relative; /* Para o posicionamento absoluto do círculo */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  .botaomenu {
    width: 48px; /* Largura dos botões do menu */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    margin: 3px; /* Margem entre os botões do menu */
    transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  .circulo {
    width: 750px; 
    height: 720px; 
    background: #017143; 
    border-radius: 65%; 
    position: fixed; 
    bottom: -250px; 
    right: -350px; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1; 
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  .logo {
    width: 80px; 
    right: 40px; 
    left: 100px; 
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  .caixa_texto {
    width: 700px;
    right: -500px; 
    margin-top: -20px; 
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  h1 {
    color: #333333; /* Cor do título */
    font-size: 35px; /* Tamanho do título */
    font-weight: 700; /* Peso da fonte */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  p {
    font-size: 8px; /* Tamanho do texto */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  span {
    color: #017143; /* Cor do texto do span */
    font-size: 40px; /* Tamanho da fonte do span */
    font-weight: 900; /* Peso da fonte do span */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  button {
    background-color: #017143; /* Cor de fundo do botão */
    color: #ffffff; /* Cor do texto do botão */
    border-radius: 40px; /* Arredondamento das bordas do botão */
    padding: 10px; /* Espaçamento interno do botão */
    border: none; 
    cursor: pointer; 
    margin-top: 20px; 
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  .conteudo {
    display: flex;
    justify-content: space-between; /
    margin-top: 15px; 
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  .caixa_imagem {
    width: 600px; 
    display: flex;
    justify-content: flex-end; 
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  .Starbucks {
    width: 280px; 
    position: fixed;
    right: 10px;
    margin-top: 390px; 
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  .menu {
    display: flex; 
    margin-top: -480px;
    justify-content: center; 
    position: fixed;
    right: 0px;
  }
}
