* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  position: relative; /* Para o posicionamento absoluto do círculo */
}

.circulo {
  width: 730px; /* Ajuste o tamanho do círculo conforme necessário */
  height: 700px; /* Ajuste o tamanho do círculo conforme necessário */
  background: #017143; /* Cor do círculo */
  border-radius: 60%; /* Faz o círculo */
  position: fixed; /* Fixa o círculo na tela */
  bottom: -100px; /* Distância do fundo */
  right: -160px; /* Distância da direita */
  overflow: hidden; /* Para esconder partes da imagem que saem do círculo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; /* Coloca o círculo atrás dos outros elementos */
}

.logo {
  width: 80px; /* Ajuste o tamanho do logo se necessário */
}

.conteudo {
  display: flex;
  justify-content: space-between; /* Mantém os elementos do conteúdo separados */
  margin-top: 20px; /* Espaço entre o logo e o conteúdo */
}

.caixa_texto {
  width: 550px; /* Largura da caixa de texto */
}

h1 {
  color: #333333; /* Cor do título */
  font-size: 60px; /* Tamanho do título */
  font-weight: 600; /* Peso da fonte */
}

p {
  font-size: 15px; /* Tamanho do texto */
}
span {
  color: #017143; /* Cor do texto do span */
  font-size: 70px; /* Tamanho da fonte do span */
  font-weight: 900; /* Peso da fonte do span */
}

button {
  background-color: #017143; /* Cor de fundo do botão */
  color: #ffffff; /* Cor do texto do botão */
  border-radius: 40px; /* Arredondamento das bordas do botão */
  padding: 10px; /* Espaçamento interno do botão */
  border: none; /* Remove a borda do botão */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  margin-top: 30px; /* Margem superior do botão */
}

button:hover {
  background-color: #008a51; /* Cor do botão ao passar o mouse */
}

.caixa_imagem {
  width: 600px; /* Largura da caixa de imagem */
  display: flex;
  justify-content: flex-end; /* Alinha a imagem à direita */
}

.Starbucks {
  width: 400px; /* Ajuste o tamanho da imagem Starbucks se necessário */
  position: fixed;
  right: 55px;
  margin-top: 60px; /* Espaço entre o conteúdo e o menu */
}

.menu {
  display: flex; /* Para alinhar os botões do menu */
  justify-content: center; /* Centraliza os botões do menu */
  margin-top: 65px; /* Espaço entre o conteúdo e o menu */
  position: fixed;
  right: 750px;
}

.botaomenu {
  width: 80px; /* Largura dos botões do menu */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  margin: 10px; /* Margem entre os botões do menu */
  transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
}

.botaomenu:hover {
  transform: translateY(-6px); /* Move o botão para cima ao passar o mouse */
}

/* Estilo para a imagem dentro do círculo */
.imagem-circulo {
  width: 100%; /* A imagem ocupa 100% do círculo */
  height: auto; /* Mantém a proporção da imagem */
  object-fit: cover; /* Cobre o círculo evitando distorção */
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  body {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 100x;
    position: relative; /* Para o posicionamento absoluto do círculo */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  .botaomenu {
    width: 48px; /* Largura dos botões do menu */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    margin: 3px; /* Margem entre os botões do menu */
    transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  .circulo {
    width: 750px; /* Ajuste o tamanho do círculo conforme necessário */
    height: 720px; /* Ajuste o tamanho do círculo conforme necessário */
    background: #017143; /* Cor do círculo */
    border-radius: 65%; /* Faz o círculo */
    position: fixed; /* Fixa o círculo na tela */
    bottom: -250px; /* Distância do fundo */
    right: -350px; /* Distância da direita */
    overflow: hidden; /* Para esconder partes da imagem que saem do círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1; /* Coloca o círculo atrás dos outros elementos */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  .logo {
    width: 80px; /* Ajuste o tamanho do logo se necessário */
    right: 40px; /* Ajuste a posição do logo */
    left: 100px; /* Ajuste a posição do logo */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  .caixa_texto {
    width: 700px; /* comprimento da caixa de texto */
    right: -500px; /* Ajuste a posição da caixa de texto */
    margin-top: -20px; /* Espaço entre o logo e a caixa de texto */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  h1 {
    color: #333333; /* Cor do título */
    font-size: 35px; /* Tamanho do título */
    font-weight: 700; /* Peso da fonte */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  p {
    font-size: 8px; /* Tamanho do texto */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  span {
    color: #017143; /* Cor do texto do span */
    font-size: 40px; /* Tamanho da fonte do span */
    font-weight: 900; /* Peso da fonte do span */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  button {
    background-color: #017143; /* Cor de fundo do botão */
    color: #ffffff; /* Cor do texto do botão */
    border-radius: 40px; /* Arredondamento das bordas do botão */
    padding: 10px; /* Espaçamento interno do botão */
    border: none; /* Remove a borda do botão */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    margin-top: 20px; /* Margem superior do botão */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  .conteudo {
    display: flex;
    justify-content: space-between; /* Mantém os elementos do conteúdo separados */
    margin-top: 15px; /* Espaço entre o logo e o conteúdo */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  .caixa_imagem {
    width: 600px; /* Largura da caixa de imagem */
    display: flex;
    justify-content: flex-end; /* Alinha a imagem à direita */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  .Starbucks {
    width: 280px; /* Ajuste o tamanho da imagem Starbucks se necessário */
    position: fixed;
    right: 10px;
    margin-top: 390px; /* Espaço entre o conteúdo e o menu */
  }
}

@media screen and (min-width: 340px) and (max-width: 1394px) {
  .menu {
    display: flex; /* Para alinhar os botões do menu */
    margin-top: -480px; /* Espaço entre o conteúdo e o menu */
    justify-content: center; /* Centraliza os botões do menu */
    position: fixed;
    right: 0px;
  }
}
